/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ul {
	list-style-type:none;
}
body {
	line-height: normal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Content */
@font-face {
    font-family: cabin;
    src: url("../files/Cabin-Regular.otf");
}
@font-face{
	font-family: sharetech;
	src: url("../files/ShareTechMono-Regular.ttf");
}

html {
	height: 100%;
}

body{
	background-color: #cccccc;
	background-image: url("../images/bg.jpg");
	background-attachment:fixed;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	height:100%;
}

.header{
	font-family:sharetech;
	background-color:black;
	font-size:48px;
	color:white;
	text-align:center;
	
	padding: 30px 0px 30px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	
	/* background gradient */
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 1%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.9)), color-stop(1%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 1%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 1%,rgba(0,0,0,0.8) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 1%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 1%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title{
	font-size:50%;
}

.content{
	clear:both;
	background-color:white;
	opacity:.8;
	float:left;
	margin-bottom:20px;
	width:100%;
	
	box-sizing: border-box;
	padding:25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

h3{
	background:lightgrey;
	margin-bottom:10px;
}

.contentPanel{
	width:80%;
	font-family:cabin;
	font-size:16px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	clear:both;
}

.subPanel{
	margin-bottom:10px;
	float:left;
	width:50%;
}

li{
	font-size:90%;
}

.bullets{
	list-style-type:circle;
}

.bullets li{
	vertical-align:left;
	text-align: justify;
	margin-left:20px;
}

/*Fancy Buttons */
.hot-container 
	a { 
		text-decoration: none;
	}

.hot-container {
	width: 100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

a.btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	width:25%;
	float:left;

	font-family: cabin;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	
	background-color: gray;
	padding: 10px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: gold;
		border-color: rgba(0,0,0,0.5);
		color:black;
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

	a.noright{
		margin-left:0px;
	}
	
/* Portfolio */	
.portfolioDescription{
	text-align:left;
	text-indent:30px;
	font-size:16px;
}

.fakeOpaque{
	opacity:1;
	background-color:#cce8f8;
}

.fakeOpaque h3{
	background-color:#a9c5d5;
	text-align:left;
	padding-left:10px;
}

.language{
	margin-top:10px;
	text-align:left;
	font-size:16px;
}

.contentPanel a{
	font-size:16px;
}

h3.portfolio-divider{
	font-size:24px;
	text-align:center;
	font-family:cabin;
	background-color:black;
	color:white;
}
/* Tablet */
@media screen and (max-width: 1240px) {
	body{
		width:80%;
	}
	
	a.btn {
		font-size: 14px;
	}
}

/* Mobile */
@media screen and (max-width: 640px) {
	body{
		width:99%;
	}
	
	.header{
	font-size:36px;
	}
	
	a.btn {
		font-size: 10px;
	}
	
	.contentPanel{
		width:90%;
		font-size:14px;
		padding:20px;
	}
	
	/* Portfolio */	
	.portfolioDescription{
		font-size:14px;
	}
	
	.language{
		font-size:14px;
	}
}